.product-week__title {
  @include normalText();
  font-size: 25px;
  color: $main-hearer-text-color;
  margin: 0 0 6px 0;
}

@media (min-width: $tabletWidthCatalog) {
  .product-week__title {
    font-size: 43px;
    line-height: 1.16;
    max-width: 455px;
    margin: 0;
    letter-spacing: 1.8px;
  }
}

@media (min-width: $desktopWidth) {
  .product-week__title {
    font-size: 53px;
    line-height: 1.08;
    max-width: 875px;
  }
}
