.main-navigation__item {
  min-height: 79px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
}

.main-navigation__item:hover .main-navigation__link {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation__item:active .main-navigation__link {
  color: rgba(0, 0, 0, 0.3);
}

@media (max-width: $mobileWidth) {
  .main-navigation__item {
    justify-content: center;
    align-items: stretch;
    border-top: 1px solid #ececec;
  }
}

@media (min-width: $tabletWidthCatalog) {
  .main-navigation__item {
    width: 50%;
  }
}

@media (min-width: $desktopWidth) {
  .main-navigation__item {
    width: 45.7%;
  }
}

@media (min-width: $desktopWidth) {
  .main-navigation__list:first-of-type .main-navigation__item:first-child {
    border-right: 1px solid #ececec;
  }
}
