.form__filed {
  @include normlFieldset();
  position: relative;
}

.form__filed::after {
  content: "";
  position: absolute;
  width: calc(100% - 62px);
  height: 1px;
  background-color: $main-color;
  top: 7px;
  right: 0;
}

.form__filed-info {
  @include normalForm();
}

@import "__filed-mod/form__filed-modifiers";

@media (min-width: $tabletWidthCatalog) {
  .form__filed::after {
    content: none;
  }
}

@media (min-width: $tabletWidthCatalog) {
  .form__filed {
    margin-bottom: 21px;
  }
}

@media (min-width: $tabletWidthCatalog) {
  .form__filed:nth-of-type(2) {
    padding-left: 163px;
  }
}
