.form__filed {
  @include normalFieldset();
  position: relative;
}

.form__filed-info {
  @include normalForm();
}

@media (min-width: $tabletWidthCatalog) {
  .form__filed::after {
    content: none;
  }
}

@media (min-width: $tabletWidthCatalog) {
  .form__filed {
    padding-left: 218px;
    padding-right: 50px;
  }

  .form__filed-info__text-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px 6.5% 24px;
  }
}

@media (min-width: $tabletWidthCatalog) {
  .form__filed:nth-of-type(2n) {
    padding-top: 30px;
    margin-bottom: 28px;
  }
}

@media (min-width: $desktopWidth) {
  .form__filed {
    @include desktopWidth();
    padding-left: 226px;
  }

  .form__filed-info__text-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px 19.5% 24px;
  }

  .form__filed-info {
    @include desktopWidth();
  }
}

@import "__filed-mod/form__filed-modifiers";
