.product-week__link {
  @include normalButton();
  transition: background-color, color;
  transition-duration: 0.4s;
  margin-bottom: 27px;
}

.product-week__link:hover {
  @include normalButtonHover();
}

.product-week__link:active {
  @include normalButtonActive();
}

@media (min-width: $tabletWidthCatalog) {
  .product-week__link {
    margin-bottom: 0;
  }
}
