.product-type__item {
  padding: 26px 28px;
  min-height: 51px;
  background-repeat: no-repeat;
}

.product-type__item:hover {
  background-color: #59d5bc;
}

.product-type__item:active {
  opacity: 0.3;
}

.product-type__item:nth-child(2n) {
  background-color: #56c3b2;
}

.product-type__item:nth-child(2n):hover {
  background-color: #46c1ae;
}

.product-type__item:nth-child(2n):active {
  opacity: 0.3;
}

@import "product-type__item-modifiers/product-type-modifiers";

@media (min-width: $tabletWidthCatalog) {
  .product-type__item {
    background-position: 87.5% 52%;
  }
}

@media (min-width: $tabletWidthCatalog) {
  .product-type__item {
    width: 50%;
    background-color: #63d1bb;
    padding: 29px 36px;
  }
}

@media (min-width: $desktopWidth) {
  .product-type__item {
    background-position: 92% center;
  }
}
