.catalog__picture {
  width: 100%;
}


@media (min-width: $tabletWidthCatalog) {
  @media (max-width: $desktopWidth - 1px) {
    .catalog__picture {
      height: 334px;
      object-fit: contain;
      background-color: #f1f1f1;
    }
  }
}

@media (min-width: $desktopWidth) {
  .catalog__picture {
    width: 316px;
    height: 462px;
    object-fit: contain;
    background-color: #f1f1f1;
  }
}
