.main__title {
  @include normalText();
  font-size: 27px;
  line-height: 1.12;
  text-align: center;
  color: #010000;
  padding: 71px 30px 0 30px;
  margin-bottom: 122px;
  letter-spacing: 1px;
}

@media (min-width: $tabletWidthCatalog) {
  .main__title {
    padding: 153px 50px 50px 50px;
    font-size: 43px;
    line-height: 1.16;
    letter-spacing: 2.5px;
    min-height: 300px;
    margin-bottom: 124px;
    /*временно вместо картинки*/
    background-color: #efefef;
    /*временно вместо картинки*/
  }
}

@media (min-width: $desktopWidth) {
  .main__title {
    line-height: 1.08;
    font-size: 53px;
    min-height: 421px;
    margin-bottom: 0;
  }
}
