.form__title {
  @include normalText();
  color: $main-color;
  line-height: 0.94;
  font-size: 17px;
  text-transform: uppercase;
}

@import "__title-mod/form__title-modifiers";

@media (min-width: $tabletWidthCatalog) {
  .form__title {
    line-height: 0.94;
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    top: 38px;
    left: 0;
  }
}
