.form__label {
  @include normalText();
  font-size: 17px;
  line-height: 1.06;
  position: relative;
}

.form__label:hover.form__label::after {
  transition: border;
  transition-duration: 0.4s;
  border: solid 2px #62d1ba;
}

.form__label:active.form__label::after {
  transition: border;
  transition-duration: 0.4s;
  border: solid 2px rgba(68, 68, 68, 0.3);
}

@media (min-width: $tabletWidthCatalog) {
  .form__label {
    font-size: 19px;
    font-weight: bold;
    line-height: 0.95;
    letter-spacing: 0.7px;
  }
}

@media (min-width: $tabletWidthCatalog) {
  .form__filed:nth-of-type(2n) .form__label {
    padding-left: 20px;
  }
}
