.catalog__list {
  @include normalList();
  padding: 0 30px;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.catalog__item:hover .catalog__text-container{
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.catalog__item:active .catalog__text-container{
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.catalog__text-container {
  border: solid 1px #ececec;
  padding: 26px 20px 20px 27px;
}

.catalog__title,
.catalog__info {
  @include normalText();
}

.catalog__title {
  line-height: 1.42;
  color: $main-hearer-text-color;
  font-size: 17px;
  margin-bottom: 5px;
  max-width: 180px;
}

.catalog__title:hover {
  opacity: 0.6;
}

.catalog__title:active {
  opacity: 0.3;
}

.catalog__icon:hover {
  fill: #63d1bb;
}

.catalog__icon:active {
  fill: #63d1bb;
  opacity: 0.3;
}

.catalog__info {
  font-size: 13px;
  font-weight: normal;
  line-height: 2.31;
  padding-bottom: 19px;
  border-bottom: 1px solid $catalog-color;
}

.catalog__link {
  @include normalText();
  color: $main-hearer-text-color;
  display: flex;
  justify-content: space-between;
  padding: 22px 6px 10px 0;
}

.catalog__price {
  @include normalText();
  margin-top: 2px;
}

@import "catalog-modifiers/catalog-modifiers";
