.form__checkbox-item {
  margin-bottom: 40.5px;
}

.form__checkbox-item:last-child {
  margin-bottom: 0;
}

@media (min-width: $tabletWidthCatalog) {
  .form__checkbox-item {
    min-width: 43%;
    margin-bottom: 57px;
  }
}

@media (min-width: $desktopWidth) {
  .form__checkbox-item {
    min-width: 32.3%;
  }
}
