.form__text-list {
  @include normalList();
  padding: 31px 0 0 0;
  margin-bottom: 30px;
}

@media (min-width: $tabletWidthCatalog) {
  .form__text-list {
    margin-bottom: 45px;
    padding-top: 62px;
  }
}
