.product-type__title {
  @include normalText();
  font-size: 19px;
  line-height: 1.26;
  color: #ffffff;
  max-width: 130px;
  letter-spacing: 1px;
}

@media (min-width: $tabletWidthCatalog) {
  .product-type__title {
    line-height: 1.5;
    font-size: 20px;
  }
}
