.about-product__title {
  @include normalText();
  padding: 25px 20px 24px 90px;
  font-size: 17px;
  line-height: 1.41;
  color: $main-hearer-text-color;
  position: relative;
}

.about-product__title::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("../img/video-svg.svg");
  background-repeat: no-repeat;
  top: 29px;
  left: 33px;
}

@media (min-width: $tabletWidthCatalog) {
  .about-product__title {
    font-size: 20px;
    line-height: 1.2;
    padding: 37px 20px 6px 107px;
    letter-spacing: 1px;
  }
}

@media (min-width: $tabletWidthCatalog) {
  .about-product__title::after {
    top: 31px;
    left: 42px;
  }
}

@media (min-width: $desktopWidth) {
  .about-product__title {
    font-size: 20px;
    line-height: 1.2;
    padding: 95px 69px 6px 42px;
    max-width: 220px;
  }
}

@media (min-width: $desktopWidth) {
  .about-product__title::after {
    top: 41px;
    left: 44px;
  }
}
