.main-navigation {
  width: 100%;
}

@import "navigation-modifiers/navigation-modifiers";

@media (min-width: $tabletWidthCatalog) {
  .main-navigation {
    margin-top: 23px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
