.main-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  position: relative;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  z-index: 10;
}

@media (max-width: $mobileWidth) {
  .main-navigation {
    width: 100%;
    position: absolute;
    background-color: #ffffff;
    top: 0;
  }
}

@media (min-width: $tabletWidthCatalog) {
  .main-navigation {
    flex-direction: row;
    justify-content: space-between;
    border: none;
    z-index: 1;
  }
}

@import "navigation-modifiers/navigation-modifiers";
