@media (min-width: $desktopWidth) {
  .desktop-content-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
  }
}

@import "desktop-content-wrapper-mod/desktop-content-wrapper-mod";
