.form__filed--tel {
  margin-bottom: 30px;
  margin-top: 3px;
}

.form__filed--email {
  @include normlFieldset();
  margin-bottom: 30px;
  position: relative;
}

.form__filed--bonus {
  margin-bottom: 10px;
}

@media (min-width: $tabletWidthCatalog) {
  .form__filed.form__filed--tel {
    padding-top: 56px;
    padding-right: 50px;
    margin-bottom: 0;
    padding-bottom: 5px;
    background-color: #f1f1f1;
  }

  .form__filed--email {
    @include normalList();
    background-color: #f1f1f1;
    border: none;
    color: #000000;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 0;
    padding: 24px 50px 50px 218px;
  }

  .form__filed.form__filed--bonus {
    background-color: #ffffff;
    padding-top: 50px;
    margin-bottom: 32px;
  }
}

@media (min-width: $desktopWidth) {
  .form__filed.form__filed--tel,
  .form__filed--email {
    @include desktopWidth();
    padding-left: 226px;
    padding-right: 226px;
    background-color: #f1f1f1;
  }

  .form__filed.form__filed--bonus {
    padding-right: 226px;
    margin-bottom: 23px;
  }
}
