.form__list {
  @include normalList();
  padding: 35px 20px 18px 62px;
}

.form__tel-list,
.form__email-list {
  @include normalList();
  margin-top: 5px;
}

@media (min-width: $tabletWidthCatalog) {
  .form__list {
    display: flex;
    flex-direction: column;
    padding: 35px 20px 12px 82px;
    margin-right: auto;
    margin-left: 0;
    width: fit-content;
  }
}
