.main-navigation__list {
  @include normalList();
}

@media (min-width: $desktopWidth) {
  .main-navigation__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-navigation__list::after {
    @include normalPseudo();
    width: 100%;
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    top: 88px;
  }
}

@media (max-width: $desktopWidth - 1px) {
  @media (min-width: $tabletWidthCatalog) {
    .main-navigation__list {
      padding: 0 40px 0 48px;
      display: flex;
      flex-wrap: wrap;
      margin-top: -88px;
    }
  }
}
