.catalog__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.catalog__item:hover .catalog__text-container {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.catalog__item:active .catalog__text-container {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}
