.catalog__title,
.catalog__info {
  @include normalText();
}

.catalog__title {
  line-height: 1.42;
  color: $main-hearer-text-color;
  font-size: 17px;
  margin-bottom: 5px;
  max-width: 180px;
}

.catalog__title:hover {
  opacity: 0.6;
}

.catalog__title:active {
  opacity: 0.3;
}

.main-catalog__title {
  @include normalText();
  background-color: #f1f1f1;
  text-align: center;
  line-height: 1.11;
  font-size: 27px;
  margin-bottom: 31px;
  padding: 70px 20px 74px 18px;
  letter-spacing: 1px;
}

@media (min-width: $tabletWidthCatalog) {
  @media (max-width: $desktopWidth - 1px) {
    .main-catalog__title {
      font-size: 43px;
      line-height: 1.16;
      padding: 94px 20px 92px 18px;
      letter-spacing: 1.2px;
      margin: 0;
    }
  }
}

@media (min-width: $desktopWidth) {
  .main-catalog__title {
    font-size: 53px;
    line-height: 1.08;
    padding: 92px 20px 86px 18px;
    letter-spacing: 2px;
    margin: 0;
  }
}

@media (min-width: $tabletWidthCatalog) {
  @media (max-width: $desktopWidth - 1px) {
    .catalog__title {
      font-size: 20px;
      line-height: 1.2;
      max-width: 230px;
      letter-spacing: 1px;
    }
  }
}

@media (min-width: $desktopWidth) {
  .catalog__title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 1px;
    max-width: 96%;
  }
}
