.about-us__item {
  margin-top: 85px;
  position: relative;
}

.about-us__item p::after {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  bottom: 64px;
  left: 0;
}

.about-us__item-1 p::after {
  background-image: url("../img/icon-1-svg.svg");
  width: 32px;
  height: 37px;
  bottom: 57px;
  left: 7px;
}

.about-us__item-2 p::after {
  background-image: url("../img/icon-3-svg.svg");
  width: 47px;
  height: 27px;
}

.about-us__item-3 p::after {
  background-image: url("../img/icon-5-svg.svg");
  width: 34px;
  height: 28px;
  bottom: 61px;
  left: 8px;
}

.about-us__item-4 p::after {
  background-image: url("../img/icon-2-svg.svg");
  width: 35px;
  height: 35px;
  bottom: 55px;
  left: 3px;
}

.about-us__item-5 p::after {
  background-image: url("../img/icon-4-svg.svg");
  width: 55px;
  height: 23px;
  bottom: 66px;
  left: -6px;
}

.about-us__item-6 p::after {
  background-image: url("../img/icon-6-svg.svg");
  width: 33px;
  height: 33px;
  bottom: 59px;
  left: 3px;
}

@media (min-width: $tabletWidthCatalog) {
  .about-us__item {
    margin-top: 112px;
  }

  .about-us__item:first-child {
    margin-top: 0;
  }
  /*выравнивание слов и иконок для pixel-perfect*/
  .about-us__item-1 .about-us__text-content {
    max-width: 230px;
  }

  .about-us__item-2 .about-us__text-content,
  .about-us__item-3 .about-us__text-content {
    max-width: 245px;
  }

  .about-us__item-4 .about-us__text-content,
  .about-us__item-6 .about-us__text-content {
    max-width: 260px;
  }
}
