.form__submit-button {
  @include normalButton();
  width: 100%;
  height: 52px;
  font-size: 17px;
  line-height: 0.94;
  color: $main-text-color;
  letter-spacing: normal;
}

@media (min-width: 768px) {
  .form__submit-button {
    width: 34.5%;
  }
}

@media (min-width: $desktopWidth) {
  .form__submit-button {
    width: 33%;
  }
}
