.main-navigation__link {
  @include normalText();
  line-height: 1.41;
  font-size: 17px;
  color: $main-hearer-text-color;
}

@media (max-width: $desktopWidth - 1px) {
  @media (min-width: $tabletWidthCatalog) {
    .main-navigation__link {
      @include normalText();
      font-size: 15px;
      line-height: 1.6;
      letter-spacing: 0.7px;
    }
  }
}
