.feedback {
  padding: 17px 29px 0 29px;
  color: $main-hearer-text-color;
}

@media (min-width: $tabletWidthCatalog) {
  .feedback {
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    padding: 78px 45px 79px 45px;
    align-items: end;
  }

  @media (min-resolution: $retina) {
    .feedback {
      background-image: url("../img/review@2x.jpg");
      background-size: 30.5%;
      background-position-x: 6.5%;
    }
  }
}

@media (min-width: $desktopWidth) {
  .feedback {
    @include desktopWidth();
    padding: 72px 45px 126px 233px;
  }
}
