@media (min-width: $tabletWidthCatalog) {
  .content-wrapper--dark {
    background-color: #f1f1f1;
  }

  .content-wrapper--line-big {
    position: relative;
  }

  .content-wrapper--line-big::after {
    @include normalPseudo();
    z-index: 1;
    background-image: url("../img/bg-zigzag-fill.svg");
    border: none;
    width: 100%;
    height: 24px;
    bottom: -3px;
    background-repeat-y: no-repeat;
  }

  .content-wrapper--line-dark {
    position: relative;
  }

  .content-wrapper--line-dark::after {
    @include normalPseudo();
    z-index: 1;
    border: none;
    background-image: url("../img/bg-zigzag-line.svg");
    width: 100%;
    height: 15px;
    bottom: 0;
    background-size: contain;
    background-repeat: repeat-x;
  }
}

@media (min-width: $desktopWidth) {
  .content-wrapper--dark {
    background-color: #f1f1f1;
  }

  .content-wrapper--line {
    background-image: url("../img/bg-zigzag-fill.svg");
    background-repeat: repeat-x;
    background-position: bottom;
  }

  .content-wrapper--line-big::after {
    height: 34px;
  }

  .content-wrapper--line-dark::after {
    height: 23px;
  }

  .content-wrapper--transparent {
    background-color: transparent;
  }

  .content-wrapper--dark-header {
    background-color: #f9f9f9;
  }
}
