.product-week__price {
  @include normalText();
  color: $main-text-color;
  text-align: center;
  line-height: 1.41;
  font-size: 17px;
  margin-bottom: 27px;
}

@media (min-width: $tabletWidthCatalog) {
  .product-week__price {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 34px;
  }
}
