.product-type__item--things {
  background-image: url("../../../img/interior-svg.svg");
  background-position: 87% 57%;
}

.product-type__item--toy {
  background-image: url("../../../img/toy-svg.svg");
  background-position: 90% 46%;
}
