.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 39px 30px 38px;
}

@media (min-width: $tabletWidthCatalog) {
  .developer {
    padding: 0;
  }
}
