.main-header__menu-opener {
  width: 20px;
  background-repeat: no-repeat;
  height: 20px;
  background-color: transparent;
  position: absolute;
  top: 32px;
  right: 31px;
}

@import "__menu-opener-mod/main-header__menu-opener-mod";
