.main-header__menu-opener--close {
  background-image: url("../img/icon-menu-close.svg");
  top: 29px;
}

.main-header__menu-opener--open {
  background-image: url("../img/icon-menu-open.svg");
}

.main-header__menu-opener--close ~ .main-navigation {
  position: absolute;
  background-color: #ffffff;
  top: 77px;
  left: 0;
}

@media (min-width: $tabletWidthCatalog) {
  .main-header__menu-opener--close ~ .main-navigation {
    background-color: transparent;
  }
}
