.main-header * {
  box-sizing: border-box;
}

@media (max-width: $mobileWidth) {
  .main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0;
    box-sizing: border-box;
    min-height: 81px;
  }
}

@media (min-width: $tabletWidthCatalog) {
  .main-header {
    padding: 0 5%;
    margin-bottom: -61px;
  }
}

@media (min-width: $desktopWidth) {
  .main-header {
    padding: 0 50px;
    margin-bottom: -80px;
    max-width: 1150px;
    box-sizing: border-box;
  }
}
