.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
  flex-wrap: wrap;
  position: relative;
  padding: 19px 31px;
}
