.form__checkbox-list {
  padding: 35px 20px 40px 62px;
}

@media (min-width: $tabletWidthCatalog) {
  .form__checkbox-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 62px 0 19px 62px;
  }
}

@media (min-width: $desktopWidth) {
  .form__checkbox-list {
    width: auto;
    padding-right: 34px;
    padding-top: 62px;
    padding-bottom: 13px;
    justify-content: flex-start;
  }
}
