.form__checkbox-list {
  padding: 35px 20px 40px 62px;
}

@media (min-width: $tabletWidthCatalog) {
  .form__checkbox-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 32px 0 9px 62px;
  }
}

@media (min-width: $desktopWidth) {
  .form__checkbox-list {
    width: auto;
    padding-right: 34px;
  }
}
