.form__checkbox-list {
  padding: 35px 20px 40px 62px;
}

@media (min-width: $tabletWidthCatalog) {
  .form__checkbox-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 62px 0 10px 62px;
  }
}

@media (min-width: $desktopWidth) {
  .form__checkbox-list {
    width: auto;
    padding: 62px 34px 11px 62px;
    justify-content: flex-start;
    position: relative;
    z-index: 5;
  }
}
