.form__input {
  @include visuallyHidden();
}

.form__input-icon {
  position: absolute;
  opacity: 0.2;
  top: 50%;
  right: 7px;
}

.form__input-text,
.form__input-tel,
.form__input-email {
  @include normalForm();
  width: 100%;
  height: 52px;
  box-shadow: inset 0 -2px 0 0 $main-hearer-text-color;
  font-size: 17px;
  line-height: 1.06;
  color: #444444;
}

.form__input-text::placeholder,
.form__input-tel::placeholder,
.form__input-email::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__input-text:hover,
.form__input-tel:hover,
.form__input-email:hover,
.form__input-text:active,
.form__input-tel:active,
.form__input-email:active,
.form__input-tel:focus,
.form__input-email:focus {
  box-shadow: inset 0 -2px 0 0 #62d1ba;
}

.form__input-feedback {
  @include normalForm();
  border: solid 2px $main-text-color;
  background-color: #ffffff;
  padding: 12px 14px;
  font-size: 17px;
  color: #444444;
  font-weight: normal;
  max-width: calc(100% - 30px);
  min-height: 114px;
  width: calc(100% - 30px);
}

.form__input-feedback:hover,
.form__input-feedback:focus,
.form__input-feedback:active {
  border: solid 2px #62d1ba;
}

.form__input-feedback::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__input-tel:hover + .form__input-icon,
.form__input-email:hover + .form__input-icon,
.form__input-tel:active + .form__input-icon,
.form__input-email:active + .form__input-icon,
.form__input-tel:focus + .form__input-icon,
.form__input-email:focus + .form__input-icon {
  fill: #62d1ba;
  opacity: 1;
}

@import "__input-mod/form__input-modifiers";

@media (min-width: $tabletWidthCatalog) {
  .form__input-text,
  .form__input-tel,
  .form__input-email {
    height: 37px;
    box-sizing: border-box;
    padding-bottom: 18px;
    line-height: 0.95;
    font-size: 19px;
    font-weight: normal;
    padding-left: 15px;
    background-color: transparent;
  }
}

@media (min-width: $tabletWidthCatalog) {
  .form__input-icon {
    top: 60%;
    right: 75px;
  }

  .form__input-icon--email {
    top: 29%;
    right: 72px;
  }
}

@media (min-width: $desktopWidth) {
  .form__input-icon,
  .form__input-icon--email {
    top: 60%;
    right: 20.3%;
  }

  .form__input-icon--email {
    top: 29%;
  }
}
