.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 0 0 #ececec, inset 0 1px 0 0 #ececec;
  flex-wrap: wrap;
  position: relative;
  padding: 19px 31px;
}

.main-header__logo-link {
  margin-top: 2px;
}

.main-navigation__list {
  @include normalList();
}

.main-header__logo-link:hover {
  opacity: 0.6;
}

.main-header__logo-link:active {
  opacity: 0.3;
}

@import "navigation";
@import "navigation-modifiers/navigation-modifiers";
