.contacts {
  padding: 34px 29px 0 29px;
  color: $main-hearer-text-color;
}

.contacts__title {
  @include normalText();
  line-height: 1.67;
  font-size: 18px;
  margin-bottom: 20px;
}

.contacts__list {
  @include normalList();
  margin-bottom: 37px;
}

.contacts__item {
  display: flex;
  justify-content: flex-start;
  line-height: 1.33;
  margin-bottom: 21px;
}

.contacts__item:nth-child(2) .contacts__text-content:nth-of-type(2) {
  margin-left: 5px;
  margin-top: 5px;
  line-height: 2;
}

.contacts__item:nth-child(1) .contacts__text-content:nth-of-type(2)::after {
  content: '';
  position: absolute;
  width: 177px;
  height: 1px;
  background-color: $main-color;
  bottom: 4px;
  left: 1px;
}

.contacts__text-content {
  @include normalText();
  line-height: 40px;
  color: $main-text-color;
  font-size: 15px;
  font-weight: normal;
  position: relative;
}

.contacts__company-site:hover {
  color: #46c1ae;
}

.contacts__company-site:active {
  color: rgb(70, 193, 174);
  opacity: 0.3;
}

@import "contact-modifiers/contact-modifiers";
