.product-type__list {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $main-color;
  color: #ffffff;
}

.product-type__title {
  @include normalText();
  font-size: 19px;
  line-height: 1.26;
  color: #ffffff;
  max-width: 130px;
}

.product-type__item {
  padding: 26px 28px;
  min-height: 51px;
  background-repeat: no-repeat;
}

.product-type__item:nth-child(2n) {
  background-color: #56c3b2;
}

@import "product-type-modifiers/product-type-modifiers";
