.contacts__text-content {
  @include normalText();
  line-height: 40px;
  color: $main-text-color;
  font-size: 15px;
  font-weight: normal;
  position: relative;
}

@media (min-width: $tabletWidthCatalog) {
  .contacts__text-content {
    letter-spacing: 1.5px;
  }
}
