.social__list {
  @include normalList();
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 62px 23px 57px;
}

@media (min-width: $tabletWidthCatalog) {
  .social__list {
    align-items: center;
    padding: 0;
    width: 142px;
  }
}
