.main__description {
  @include normalText();
  line-height: 1.85;
  padding: 24px 30px 20px 30px;
  font-size: 13px;
  font-weight: normal;
  color: $main-text-color;
  letter-spacing: 0.4px;
}

@media (min-width: $tabletWidthCatalog) {
  .main__description {
    font-size: 17px;
    line-height: 1.76;
    padding: 49px 76px 20px 53px;
    margin-bottom: 55px;
  }
}

@media (min-width: $tabletWidthCatalog) {
  .main--form .main__description {
    margin-bottom: 16px;
  }
}


@media (min-width: $desktopWidth) {
  .main--form .main__description {
    font-size: 17px;
    font-weight: normal;
    line-height: 1.76;
    padding: 105px 19.5% 24px 19.5%;
  }
}
