.form__title--tel,
.form__title--email {
  margin-bottom: 5px;
}

.form__input--tel {
  height: 55px;
}

.form__filed--tel {
  margin-bottom: 33px;
}

.form__filed--email {
  margin-bottom: 35px;
}

.form__title--bonus {
  margin-bottom: 25px;
}

.form__filed--bonus::after {
  display: none;
}

.form__filed--bonus {
  margin-bottom: 14px;
}
