.about-us {
  padding: 25px 30px 0 30px;
  color: $main-hearer-text-color;
  margin-bottom: 39px;
}

@media (min-width: $tabletWidthCatalog) {
  .about-us {
    padding: 63px 30px 45px 48px;
  }
}

@media (min-width: $desktopWidth) {
  .about-us {
    @include desktopWidth();
    padding: 61px 30px 45px 223px;
    margin-bottom: 43px;
  }
}
