.developer__title {
  @include normalText();
  line-height: 0.95;
  font-size: 19px;
}

.developer__title:active,
.developer__icon:active {
  opacity: 0.3;
}

@media (min-width: $tabletWidthCatalog) {
  .developer__title {
    margin-right: 37px;
  }
}
