.main-navigation__logo-link {
  margin: 0;
  padding-top: 22px;
  min-height: 80px;
  text-align: center;
  z-index: 9;
  background-color: #ffffff;
}

.main-navigation__logo-link > a:first-child:hover {
  transition: opacity;
  transition-duration: 0.4s;
  opacity: 0.6;
}

.main-navigation__logo-link > a:first-child:active {
  transition: opacity;
  transition-duration: 0.4s;
  opacity: 0.3;
}

@media (min-width: $tabletWidthCatalog) {
  .main-navigation__logo-link {
    @include normalList;
    min-height: 90px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .logo-icon {
    width: 112px;
    height: 46px;
    margin-top: 5px;
  }
}

@media (min-width: $desktopWidth) {
  .main-navigation__logo-link {
    order: 2;
    padding: 3px 0 0;
    min-height: 90px;
  }

  .logo-icon {
    width: 149px;
    height: 72px;
    margin: 0;
  }
}
