.popup__link {
  @include normalText();
  font-size: 17px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #63d1bb;
  color: #ffffff;
  border: none;
  min-height: 52px;
}
