.about-product {
  padding: 0 30px 60px 30px;
}

@media (min-width: $tabletWidthCatalog) {
  .about-product {
    padding: 0 50px 60px 50px;
  }
}

@media (min-width: $desktopWidth) {
  .about-product {
    @include desktopWidth();
    padding: 0 50px 105px 50px;
  }
}
