.form {
  padding: 4px 30px 55px 30px;
}

.form__filed {
  @include normlFieldset();
  position: relative;
}

.form__filed::after {
  content: '';
  position: absolute;
  width: calc(100% - 62px);
  height: 1px;
  background-color: $main-color;
  top: 7px;
  right: 0;
}

.form__title {
  @include normalText();
  color: $main-color;
  line-height: 0.94;
  font-size: 17px;
  text-transform: uppercase;
}

.form__list {
  @include normalList();
  padding: 35px 20px 18px 62px;
}

.form__label {
  @include normalText();
  font-size: 17px;
  line-height: 1.06;
  position: relative;
}

.form__label:hover.form__label::after {
  border: solid 2px #62d1ba;
}

.form__label:active.form__label::after {
  border: solid 2px rgba(68, 68,68, 0.3);
}

.form__radio-label::after {
  @include normalPseudo();
  width: 36px;
  height: 36px;
  border: solid 2px #444444;
  background-color: #ffffff;
  border-radius: 50%;
  left: -62px;
  top: -10px;
}

.form__radio:checked ~ .form__label::before {
  @include normalPseudo();
  border: none;
  border-radius: 50%;
  left: -50px;
  top: 2px;
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  z-index: 2;
}

.form__input {
  @include visuallyHidden();
}

.form__item {
  margin-bottom: 25px;
}

.form__checkbox-list {
  padding: 35px 20px 40px 62px;
}

.form__checkbox-item {
  margin-bottom: 43.5px;
}

.form__checkbox-item:last-child {
  margin-bottom: 0;
}

.form__checkbox-label::after {
  @include normalPseudo();
  width: 36px;
  height: 35px;
  border: solid 2px #444444;
  left: -62px;
  top: -10px;
}

.form__checkbox:checked ~ .form__checkbox-label::before {
  @include normalPseudo();
  width: 36px;
  height: 35px;
  border: none;
  left: -60px;
  top: -8px;
  background-image: url("../../img/tick-mobile-svg.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__text-list {
  @include normalList();
  padding: 31px 0 0 0;
  margin-bottom: 30px;
}

.form__text-label {
  @include normalText();
  font-size: 17px;
  line-height: 1.06;
  color: $main-hearer-text-color;
  letter-spacing: 1px;
}

.form__text-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

.form__tel-list,
.form__email-list {
  @include normalList();
}

.form__info-text {
  @include normalText();
  font-size: 14px;
  font-weight: normal;
  line-height: 1.14;
  color: $main-text-color;
  margin-bottom: 31px;
}

.form__submit-button {
  @include normalButton();
  width: 100%;
  height: 52px;
  font-size: 17px;
  line-height: 0.94;
  color: $main-text-color;
  letter-spacing: normal;
}

.form__input-text,
.form__input-tel,
.form__input-email {
  @include normalForm();
  width: 100%;
  height: 52px;
  box-shadow: inset 0px -2px 0 0 $main-hearer-text-color;
  font-size: 17px;
  line-height: 1.06;
  color: #444444;
}

.form__input-text::placeholder,
.form__input-tel::placeholder,
.form__input-email::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__input-text:hover,
.form__input-tel:hover,
.form__input-email:hover,
.form__input-text:active,
.form__input-tel:active,
.form__input-email:active,
.form__input-tel:focus,
.form__input-email:focus {
  box-shadow: inset 0px -2px 0 0 #62d1ba;
}

.form__input-feedback {
  @include normalForm();
  border: solid 2px $main-text-color;
  background-color: #ffffff;
  padding: 12px 14px;
  font-size: 17px;
  color: #444444;
  font-weight: normal;
  max-width: calc(100% - 30px);
  min-height: 114px;
  width: calc(100% - 30px);
}

.form__input-feedback:hover,
.form__input-feedback:focus,
.form__input-feedback:active {
  border: solid 2px #62d1ba;
}

.form__input-feedback::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.form__filed-info {
  @include normalForm();
}

.form__tel-item::after {
  background-image: url("../../img/phone-svg.svg");
}

.form__email-item::after {
  width: 32px;
  background-image: url("../../img/mail-svg.svg");
}

.form__input-icon {
  position: absolute;
  opacity: 0.2;
  top: 50%;
  right: 7px;
}

.form__input-tel:hover + .form__input-icon,
.form__input-email:hover + .form__input-icon,
.form__input-tel:active + .form__input-icon,
.form__input-email:active + .form__input-icon,
.form__input-tel:focus + .form__input-icon,
.form__input-email:focus + .form__input-icon {
  fill: #62d1ba;
  opacity: 1;
}

@import "form-modifiers/form-filed-modifiers";
